<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.web.dao.JoinMemberCancelDao">
	<delete id="deleteId" parameterType="String">
		delete from user_list where id = #{account} and authority IS null
	</delete>
</mapper>